<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>@ViewData["Title"] - LMS_SASS</title>

		<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/fontawesome.min.css" integrity="sha512-UuQ/zJlbMVAw/UU8vVBhnI4op+/tFOpQZVT+FormmIEhRSCnJWyHiBbEVgM4Uztsht41f3FzVWgLuwzUqOObKw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

		<link rel="stylesheet" href="~/css/font.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
        <link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
	</head>

	<body id="login-page">
		<div class="login-wrapper">
			<div class="login-card">
				<div class="login-content">
					<div class="login-header">
						<img class="logo" src="~/img/logo.png">
						<h1>@ViewData["Title"]</h1>
						<div class="description">@ViewData["Description"]</div>
					</div>

					<div class="login-form">
						@RenderBody()
					</div>
				</div>
			</div>

			<footer>
				<div class="left"></div>

				<div class="right">
					<a class="btn btn-link" asp-controller="Home" asp-action="Privacy">Privacy</a>
					<span>2024 - LMS_SASS</span>
				</div>
			</footer>
		</div>
	</body>
</html>
