@model CourseModel

@{
    ViewData["Title"] = Model.Name;
	ViewBag.Course = Model;
    UserModel user = ViewBag.User;
}

<div class="container">
	@{
		await Html.RenderPartialAsync("Header");
	}

	<div class="page-content">
		
	</div>
</div>
